<!DOCTYPE html>
<html>
	<head>
		<title>Smag | {{ member["name"] }}</title>

		<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/smag.png') }}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
	</head>
	<body class="container">

		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="{{ url_for('home') }}" class="navbar-brand">Smag</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ url_for('leaderboard') }}">Leaderboard</a></li>
					<li><a href="{{ url_for('members') }}">Members</a></li>
				</ul>
			</div>
		</nav>

		<div class="row">
			<div class="col-sm-12 col-md-12">
				<div class="thumbnail">
					<img src="{{ member.picture }}" alt="{{ member.name }}'s picture">
					<div class="caption">
						<h3>{{ member.name }}</h3>
						<p>{{ member.bio }}</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>